/* line 8, demo.scss */
body {
  background: #eaeaea;
}

/* line 12, demo.scss */
h2 {
  margin-top: 2em;
}

/* line 16, demo.scss */
.test_light {
  background-color: red;
  color: yellow;
}
/* line 15, ../dist/_at-contrast.scss */
[data-state_high-contrast="true"] .test_light {
  background-color: white !important;
  border-color: white !important;
}
/* line 105, ../dist/_at-contrast.scss */
[data-state_high-contrast="true"] .test_light,
[data-state_high-contrast="true"] .test_light * {
  color: black !important;
}
/* line 110, ../dist/_at-contrast.scss */
[data-state_high-contrast="true"] .test_light a {
  text-decoration: underline;
}

/* line 22, demo.scss */
.test_dark {
  background-color: red;
  color: yellow;
}
/* line 15, ../dist/_at-contrast.scss */
[data-state_high-contrast="true"] .test_dark {
  background-color: black !important;
  border-color: black !important;
}
/* line 152, ../dist/_at-contrast.scss */
[data-state_high-contrast="true"] .test_dark,
[data-state_high-contrast="true"] .test_dark * {
  color: white !important;
}
/* line 157, ../dist/_at-contrast.scss */
[data-state_high-contrast="true"] .test_dark a {
  text-decoration: underline;
}

/* line 28, demo.scss */
.test_dark_override {
  background-color: red;
  color: yellow;
}
/* line 15, ../dist/_at-contrast.scss */
[data-state_high-contrast="true"] .test_dark_override {
  background-color: black !important;
  border-color: black !important;
}
/* line 152, ../dist/_at-contrast.scss */
[data-state_high-contrast="true"] .test_dark_override,
[data-state_high-contrast="true"] .test_dark_override * {
  color: white !important;
}
/* line 157, ../dist/_at-contrast.scss */
[data-state_high-contrast="true"] .test_dark_override a {
  text-decoration: underline;
}
/* line 33, demo.scss */
[data-state_high-contrast="true"] .test_dark_override,
[data-state_high-contrast="true"] .test_dark_override * {
  color: green !important;
}

/* line 40, demo.scss */
.test_highlight {
  background-color: red;
  color: yellow;
}
/* line 15, ../dist/_at-contrast.scss */
[data-state_high-contrast="true"] .test_highlight {
  background-color: yellow !important;
  border-color: yellow !important;
  border-color: yellow !important;
}
/* line 57, ../dist/_at-contrast.scss */
[data-state_high-contrast="true"] .test_highlight,
[data-state_high-contrast="true"] .test_highlight * {
  color: black !important;
}
/* line 62, ../dist/_at-contrast.scss */
[data-state_high-contrast="true"] .test_highlight a {
  text-decoration: none;
}
